@model List<Product>;
@{
    ViewData["Title"] = "Product Page";
    var products = Model;
}

<div class="text-center">
    <h1 class="display-4">Damn Bruh Product</h1>
    <a class="btn btn-info float-end" style="margin-right: 134px;" href="/Product/Create">Create</a>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Slug</th>
            <th>Category</th>
            <th>Option</th>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>@product.Slug</td>
                    <td>@product.Category.Name</td>
                    <td>
                        <a class="btn btn-primary" href="/Product/Update/@product.Id">Edit</a> 
                        <a class="btn btn-danger" href="">Delete</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>
</div>